### <font color=purple> Question 4: Theory </font>

To answer this question I collect the dataset over the Kaggle website. This 'Predadditionaline Course Engagement Dataset' describes the understanding of user behavior during online course completion.

I developed two copies of this code; one  in the  IDLE as Python script, and the  additional  one  here on the jupyter notebeek.
At primary time to run this code, the error arsised in the cell of (#load the dataset), caused by the error occurs because backslashes in the file path were interpreted as escape characters. So, and to  fix this error I just add the 'r': using raw string literals by prefix with the tring'r', and it is solved.

In [1]:
import pandas as pd

In [4]:
#load the dataset
file_path= r"C:\Users\galam\Downloads\archive (1)\online_course_engagement_data.csv"
df = pd.read_csv(file_path)

In [5]:
#1. code for the datsset shape
shape = df.shape
print(f"shape of the dataset: {shape}")

shape of the dataset: (9000, 9)

In [6]:
#2. Provide information about the dataset
print("\nInformation about the dataset:")
info = df.info()

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   UserID                 9000 non-null   int64
 1   CourseCategory         9000 non-null   object
 2   TimeSpentOnCourse      9000 non-null   float64
 3   NumberOfVideosWatched  9000 non-null   int64
 4   NumberOfQuizzesTaken   9000 non-null   int64
 5   QuizScores             9000 non-null   float64
 6   CompletionRate         9000 non-null   float64
 7   DeviceType             9000 non-null   int64
 8   CourseCompletion       9000 non-null   int64
dtypes: float64(3), int64(5), object(1)
memory usage: 632.9+ KB

In [7]:
#3.Provide statistical summary of the dataset
print("\nStatistical summary of the dataset:")
summary = df.describe()
print(summary)

Statistical summary of the dataset:
            UserID  TimeSpentOnCourse  NumberOfVideosWatched  \
count  9000.000000        9000.000000            9000.000000
mean   4498.894556          50.163822              10.024667
std    2596.849433          28.491750               6.029878
min       1.000000           1.005230               0.000000
25%    2251.750000          25.440548               5.000000
50%    4483.500000          49.818417              10.000000
75%    6751.250000          75.069924              15.000000
max    9000.000000          99.992558              20.000000

       NumberOfQuizzesTaken   QuizScores  CompletionRate   DeviceType  \
count           9000.000000  9000.000000     9000.000000  9000.000000
mean               5.090556    74.706028       50.340146     0.500667
std                3.157762    14.378383       28.950977     0.500027
min                0.000000    50.005119        0.009327     0.000000
25%                2.000000    62.283451       25.653614     0.000000
50%                5.000000    74.743294       50.264124     1.000000
75%                8.000000    87.022663       75.572493     1.000000
max               10.000000    99.994984       99.979711     1.000000

       CourseCompletion
count       9000.000000
mean           0.396444
std            0.489186
min            0.000000
25%            0.000000
50%            0.000000
75%            1.000000
max            1.000000

In [10]:
#4. Find the pairwise correlation of all columns in the data frame
#Exclude non-numeric columns
numeric_df = df.select_dtypes(include=['float64', 'int64'])
correlation = numeric_df.corr()
print("\nPairwise correlation of all columns:")
print(correlation)

Pairwise correlation of all columns:
                         UserID  TimeSpentOnCourse  NumberOfVideosWatched  \
UserID                 1.000000           0.009134               0.018368
TimeSpentOnCourse      0.009134           1.000000               0.019833
NumberOfVideosWatched  0.018368           0.019833               1.000000
NumberOfQuizzesTaken  -0.001164          -0.012562              -0.020059
QuizScores            -0.010824          -0.006152              -0.017497
CompletionRate        -0.006239           0.020934               0.016257
DeviceType             0.006026           0.004144               0.007403
CourseCompletion       0.021093           0.182553               0.234360

                       NumberOfQuizzesTaken  QuizScores  CompletionRate  \
UserID                            -0.001164   -0.010824       -0.006239
TimeSpentOnCourse                 -0.012562   -0.006152        0.020934
NumberOfVideosWatched             -0.020059   -0.017497        0.016257
NumberOfQuizzesTaken               1.000000   -0.012295        0.006892
QuizScores                        -0.012295    1.000000       -0.012303
CompletionRate                     0.006892   -0.012303        1.000000
DeviceType                         0.015973    0.004225       -0.004767
CourseCompletion                   0.284504    0.299983        0.326139

                       DeviceType  CourseCompletion
UserID                   0.006026          0.021093
TimeSpentOnCourse        0.004144          0.182553
NumberOfVideosWatched    0.007403          0.234360
NumberOfQuizzesTaken     0.015973          0.284504
QuizScores               0.004225          0.299983
CompletionRate          -0.004767          0.326139
DeviceType               1.000000          0.007551
CourseCompletion         0.007551          1.000000